html, body{
    margin: 0;
    padding: 0;
}

.page{
    margin-top:20px;
}

.container {
    max-width: 900px;
}

.loggedInText {
    margin-right: 20px;
    text-align: center
}

.notification-container {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 40px;
}

.notification {
    display: inline-block;
    padding: 10px;
    min-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.notification.success {
    background: #d4edda;
    border: 2px solid #9eea99;
}

.notification.error {
    display: inline-block;
    background: #ffb2b2;
    border: 2px solid #ff8888;
}

.blog {
    border: 1px solid #333;
    margin-top: 5px;
}